<% if @game.current_turn == @game.player_1 %>
<%= @game.player_1.name %> attacked <%= @game.player_2.name %>
<% else %>
<%= @game.player_2.name %> attacked <%= @game.player_1.name %>
<% end %>

<!-- commenting this out from user story I wanna see Player 2 attacking me and add  -->
<!-- <a href="/play">OK</a> -->

<form action="/switch-turns" method="post">
  <input type="submit" value="OK">
</form>

<%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP
